.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  &__card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    @include responsive(tab-port) {
      flex-direction: column;
      flex-basis: unset;
      padding: 2rem;
    }
    &-description {
      width: 55%;
      @include responsive(tab-port) {
        width: 100%;
        margin-bottom: 20px;
      }
      h3 {
        font-size: 3rem;
        margin-bottom: 20px;
        &::before {
          content: "01.";
          margin-right: 10px;
          color: $fonttourquoise;
        }
      }
      p {
        font-size: 2rem;
        margin-right: 5rem;
        line-height: 2.5rem;
        @include responsive(phone) {
          font-size: 2.5rem;
          margin-right: unset;
        }
      }
    }
    &-photo {
      min-width: 30rem;
      min-height: 30rem;
      position: relative;
      @include responsive(tab-port) {
        margin: 5rem auto;
      }
      @include responsive(phone) {
        margin: 0 auto;
      }

      img {
        position: absolute;
        z-index: 500;
        width: 30rem;
        min-width: 30rem;
        min-height: 30rem;
        display: inline-block;
        border-radius: 5px;
        @include responsive(phone) {
          width: 40rem;
          position: static;
        }
      }
      &::before {
        content: "";
        width: 30rem;
        height: 30rem;
        background-color: $fonttourquoise;
        display: block;
        position: absolute;
        z-index: 600;
        opacity: 0.3;
        @include responsive(phone) {
          width: 40rem;
          height: 40rem;
        }
      }
      &::after {
        content: "";
        width: 30rem;
        height: 30rem;
        display: block;
        position: absolute;
        border: 2px solid $fonttourquoise;
        top: 10%;
        left: 10%;
        border-radius: 5px;

        z-index: 1;
        @include responsive(phone) {
          display: none;
        }
      }
    }
  }
}
