* {
  margin: 0;
  padding: 0;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @include responsive(tab-land) {
    font-size: 56.25%;
  }
  @include responsive(tab-port) {
    font-size: 50%;
  }
  @include responsive(phone) {
    font-size: 50%;
  }
}
body {
  background-color: $background;
  color: whitesmoke;
}
section {
  margin: 0 auto;
  padding: 100px 0;
  max-width: 1100px;
  @include responsive(phone) {
    padding: 30px 0;
  }
  @include responsive(big-desktop) {
    padding: 200px 0;
  }
}
//scrollbar
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $background; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
