body {
  font-family: "lato", "Open Sans", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  // line-height: 1.7rem;
}

.paragraph-introduction {
  font-size: 2rem;
  margin-right: 5rem;
  line-height: 2.5rem;
}
.paragraph-introduction--2 {
  margin-right: 0rem;
}

@include responsive(phone) {
  p {
    font-size: 2.5rem !important; 
    line-height: 2.5rem;

  }
  // span {
  //   font-size: 2.2rem;
  // }
}