// Whites and grays
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

//Blunt colors 
$purple-dark: #9926f0;
$purple-light: #bb6Ef5;
$pink: #d122e3;
$color-angular-light: rgb(203,43,57);
$color-angular-darker: rgb(180,37,43);
$color-angular-blue-light: #42a5f5;
$color-angular-blue-dark: #0d47a1;
$color-green-regular: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;
//TEXT CONFIGURATION 
$default-font-size: 1.6rem;

//main colors
$background:rgb(14,25,45);
$fonttourquoise: #68e1fd;

//SHORTCUTS
$shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);

