.navigation {
  z-index: 1400;
  position: fixed;
  top: 0;
  width: 100%;
  // -moz-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding-left: 5rem;
  padding-right: 5rem;
  animation: showYourself 0.5s ease-in-out;
  background-color: rgba($color: $background, $alpha: .6);
  div {
    width: 80%;
  }
  @include responsive(phone) {
    position: sticky;
    padding-left: 1rem;
    padding-right: 1rem;
    position: fixed;
    z-index: 10600;
    height: 100vh;
    padding: 5rem;
    display: none;
    // backdrop-filter: unset;
    // -webkit-backdrop-filter: unset;

    // transform: scale(100);
  }
  
  &__background {
    @include responsive(phone) {
      z-index: 10500;
      position: fixed;
      width: 7rem;
      height: 7rem;
      top: 4%;
      right: 4%;
      border-radius: 50%;
      background-image: radial-gradient($background, $background-soft);
      transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    }
  }
  &__button {
    position: fixed;
    background-color: whitesmoke;
    height: 7rem;
    width: 7rem;
    top: -20%;
    right: -14%;
    border-radius: 7rem;
    box-shadow: $shadow-dark;
    z-index: 11000;
    // display: none;
    @include responsive(phone) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      top: 4%;
      right: 4%;
    }
  }
  &__icon {
    // position: fixed;
    // margin-top: 3.5rem;
    // padding: 2rem;
    // background-color: ;
    align-self: center;
    height: 2px;
    width: 3rem;
    background-color: $background-soft;
    z-index: 5000;
    transition: all 0.2s;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}
.nav {
  display: flex;
  // justify-content: space-between;
  align-items: center;
  padding: 2rem 5rem;
  &-brand {
    flex: 0 0 25%;
  }
  @include responsive(phone) {
    padding: 2rem 2rem;
    flex-direction: column;
    height: 100%;
    justify-content: start;
    position: absolute;
    top: 60%;
    left: 150%;
    width: 100%;
    transform: translate(-50%, -50%);
    transition: left 0.5s ease-in;
    &-brand {
      flex: 0 0 0;
    }
    .btn-resume {
      // padding: 4rem;
      width: 180px;
      text-align: center;
    }
    &-items {
      text-align: center;
      margin-top: 5rem;
      height: 80%;
      font-size: 4rem;
      & li {
        margin-bottom: 4rem;
      }
    }
  }
  img {
    width: 5rem;
    cursor: pointer;
    @include responsive(phone) {
      width: 10rem;
    }
  }
  &-items {
    display: flex;
    flex: 0 0 65%;
    list-style: none;
    justify-content: flex-end;
    align-items: baseline;

    @include responsive(phone) {
      flex-direction: column;
      flex-basis: 0;
      a {
        width: 100%;
      }
    }
    & li {
      position: relative;
      margin-right: 5px;
    }
    & li::before {
      content: "";
      height: 100%;
      position: absolute;
      background-color: $fonttourquoise;
      top: 0;
      left: 0;
      width: 1px;
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    }
    & li:hover::before {
      transform: scaleY(1);
      width: 100%;
    }
    & li a:link,
    & li a:visited {
      position: relative;
      z-index: 10;
      color: whitesmoke;
      text-decoration: none;
      display: inline-block;
      cursor: pointer;
      padding: 1rem;
      background-color: transparent;
      transition: color 0.1s 0.2s;
      transform-origin: center;
    }
    & li a:hover,
    & li a:active {
      // border-bottom: 1px solid $black;
      color: $background-soft;
      // background-color: $fonttourquoise;
    }
  }
}

//ADD TO BACKGROUND FOR EXPANSION
.bg__shown {
  transform: scale(100);
}

//ADD TO NAVIGATION
.nav__shown {
  // opacity: 1;
  // width: 100%;
  left: 50%;
}

//HIDES THE MIDDLE LINE
.icon-hide__partial {
  background-color: transparent;
}
.icon-rotate--right {
  top: 50%;
  position: absolute;
  margin-bottom: 0px;
  transform: rotate(135deg);
}

.icon-rotate--left {
  top: 50%;
  position: absolute;
  transform: rotate(-135deg);
}

.hidden {
  display: none;
  // display: block;
}
.bringBack {
  top: 0;
  right: 0;
}
.navigation.display-phone {
  display: unset;
}